*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
scroll-behavior:smooth;
}

body{

background:#fff5fb;
color:#444;

}

nav{

display:flex;
justify-content:space-between;
align-items:center;

padding:20px 10%;

background:#ffb6d9;

position:fixed;

width:100%;

top:0;

z-index:1000;

box-shadow:0 3px 10px rgba(0,0,0,.2);

}

.logo{

font-size:25px;

font-weight:bold;

color:white;

}

.nav-links{

display:flex;

list-style:none;

}

.nav-links li{

margin-left:25px;

}

.nav-links a{

text-decoration:none;

color:white;

font-weight:600;

transition:.3s;

}

.nav-links a:hover{

color:#6f42c1;

}

.hero{

height:100vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

text-align:center;

padding-top:80px;

}

.profile{

width:180px;

height:180px;

border-radius:50%;

border:8px solid white;

box-shadow:0 5px 20px pink;

margin-bottom:20px;

}

.hero h1{

font-size:45px;

}

.hero span{

color:#ff4fa0;

}

.hero h2{

margin:15px;

color:#8e44ad;

height:35px;

}

.btn{

margin-top:20px;

padding:12px 28px;

background:#ff69b4;

color:white;

text-decoration:none;

border-radius:30px;

font-weight:bold;

transition:.3s;

}

.btn:hover{

background:#c84b91;

}

section{

padding:90px 10%;

}

.card{

background:white;

margin:40px auto;

padding:40px;

border-radius:20px;

box-shadow:0 5px 15px rgba(0,0,0,.1);

}

h2{

text-align:center;

margin-bottom:30px;

color:#ff4fa0;

}

.skills{

max-width:700px;

margin:auto;

}

.skill{

margin:20px 0;

}

.bar{

background:#eee;

height:20px;

border-radius:30px;

overflow:hidden;

}

.fill{

height:100%;

background:linear-gradient(to right,#ff69b4,#c471ed);

}

.html{width:90%;}

.css{width:85%;}

.js{width:70%;}

.ict{width:95%;}

.cards{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(220px,1fr));

gap:25px;

}

.box{

background:white;

padding:30px;

text-align:center;

border-radius:20px;

box-shadow:0 5px 15px rgba(0,0,0,.1);

transition:.4s;

font-size:18px;

}

.box:hover{

transform:translateY(-10px);

}

.gallery{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(250px,1fr));

gap:20px;

}

.gallery img{

width:100%;

border-radius:20px;

box-shadow:0 5px 15px rgba(0,0,0,.2);

}

form{

display:flex;

flex-direction:column;

max-width:600px;

margin:auto;

}

input,textarea{

padding:15px;

margin:10px 0;

border:none;

border-radius:10px;

background:#ffe4f1;

}

button{

padding:15px;

background:#ff69b4;

color:white;

border:none;

border-radius:30px;

cursor:pointer;

font-size:18px;

}

button:hover{

background:#d94b95;

}

footer{

background:#ffb6d9;

padding:25px;

text-align:center;

color:white;

margin-top:40px;

}